#about {
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
}

.aboutTitle {
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}
.aboutText {
  width: 100vw;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 200;
  text-align: justify;
}
.skillTitle {
  text-align: center;
  padding: 1rem;
}
.skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
}
.skillImg {
  object-fit: cover;
  height: 4rem;
  padding: 0.5rem;
}
